h1{
    color: blue;
    text-align: center;
}

h2{
    font-style: italic;
    font-family: cursive;
    color: crimson;
    text-align: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cornflowerblue;
    text-align: center;
}

body{
    background-color: lemonchiffon;
}